img {
  max-width: 100%;

  height: auto;

  margin-top: 20px;
}

strong {
  color: #4caf50;
}

select {
  padding: 10px;
  margin-top: 10px;

  font-size: 16px;
}

#play-button {
  background-color: #4caf50;
  margin-top: 10px;
  border: solid 1px black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.conteneur-cartes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

  gap: 10px;

  margin: 20px auto;
  max-width: 800px;

  padding-top: 80px;
}

.cartes {
  position: relative;
  cursor: pointer;
  border-radius: 8px;

  overflow: hidden;
}

.cartes img {
  width: 100%;

  height: auto;

  display: block;
}

.couverture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;

  transition: visibility 0.2s ease;
}

.image-couverture {
  width: 50%;

  height: auto;
}

.cartes.flipped {
  transform: rotateY(180deg);

  transition: transform 0.8s;
}

.score-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.score-list,
.score-list-chiens {
  width: 45%;
  padding: 20px;
  background-color: #f9f9f9;
  border: solid 1px #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.score-list ul,
.score-list-chiens ul {
  list-style-type: none;
  padding-left: 0;
}

.score-list li,
.score-list-chiens li {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.score-list li:nth-child(odd),
.score-list-chiens li:nth-child(odd) {
  background-color: #f2f2f2;
}

@media (max-width: 500px) {
  nav ul {
    flex-direction: column;

    align-items: center;
  }

  section {
    padding: 60px 10px 20px;
  }

  .conteneur-cartes {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
}
