h1 {
  margin: 115px 0 20px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}

#errorMessage {
  color: red;
  margin-top: 10px;
  display: none;
}

@media (max-width: 500px) {
  form {
    width: 90%;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
  }
}
